body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.image-container img {
    max-width: 300px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.result-container {
    background-color: #e6f7ff;
    padding: 20px;
    display: inline-block;
    border: 1px solid #b3d7ff;
    border-radius: 10px;
    margin-bottom: 20px;
}
